<!-- Navigation -->
<nav class="navbar navbar-default  navbar-fixed-top" style="margin-right:1em; z-index: 1;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <p style="font-size: 47px; color: #000; font-family: 'Inknut Antiqua'">Gaoyue Zhou</p>
        </div>

        <div >
          <ul class="nav navbar-nav navbar-right" style="position:absolute;bottom:0px;right:100px; font-family: 'Inknut Antiqua'">
            <li class="active"><a href="{{site.baseurl}}/" style="color: black;">Academic</a></li>
            <li class="active"><a href="{{site.baseurl}}/photography/" style="color: black;">Photography</a></li>
            <li class="active"><a href="{{site.baseurl}}/art/" style="color: black;">Art</a></li>
          </ul>
      </div>
    </div>
    <!-- /.container -->
</nav>

